@media screen and(min-with:768px){
    .header-navbar{
        display: none;
    }
    .khung-thong-tin{
        background-color: red;
    }
    
}
@media screen and(max-with:1028px){
    .khung-thong-tin{
      background-color: black;
    }
}