:root{
    --label-color:rgb(149, 18, 178);
  
}
*{
    box-sizing: inherit;
}
/* html{
    font-size: 62.5%;
    line-height:1.6rem;
    font-family: 'Roboto Serif', serif;
    box-sizing: border-box;
} */

body{
    height: 1300px;
}
.header_1{
    height: 144px;
    width: 100%;
    background-image: linear-gradient(0, #09bdc4,#1476bc); 

}
.container-frame{
    width: 95%;
    height: 800px;
    margin-left: 38px;
    margin-top: 30px;
}
.camera-realtime{
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 4px;
}
.header-navbar{
    
    color:white;
    font-weight: 100;
    display: flex;
    justify-content:space-evenly;

}

.header-navbar-1{
    font-size: 25px;
    width: 45%;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;


}
.header-navbar-2{
    font-size: 25px;
    width: 30%;
    text-align: center;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 600;

}
.logo img{
    width: 180px;
    height:110px;
   margin-top: 18px;
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}
/* .navbar{
    height: 30px;
    width: 100%;
    background-color:;
} */

.navbar- {
    display: flex;
    font-size: 1.3rem;
    color: black;
    height: 100%;

    font-weight: 100;
    text-decoration: none;

}
.navbar-header-1{
    width: 250px;
    height: 92%;
    background-color: beige;
    text-decoration: none;
    border: 1px solid green;
    cursor: pointer;
    
    
}
.navbar-header-2{
    text-decoration: none;
    width: 249px;
    height: 92%;
    background-color: beige;
    border: 1px solid green;
    cursor: pointer;

}
.navbar-header-3{
    text-decoration: none;
    width: 249px;
    height: 92%;
    background-color: beige;
    border: 1px solid green;
    cursor: pointer;
}
/* phần khung  */
.background{  
    height: 90%;
    background-color: rgb(240, 240, 231);
    width: 100%;
    margin-top:-20px;
    border-radius: 10px;
}
.navbar-thongtin{
    width: 100%;
    height: 45px;
    background-color: rgb(11, 185, 180);
    display: flex; /*can giua */
    align-items: center;
    border-radius: 10px 10px 0px 0px ;
}
.navbar-thongtin-label{
    font-size: 25px;
    color:white;  
    margin-left: 16px;
}
.navbar-thongtin-label-icon{
    font-size: 25px;
    margin-right: 4px;
}
.khung-anh{
    height:89% ;
    width: 22%;
    background-image:linear-gradient(90deg, rgb(27, 177, 7) 0%, rgb(24, 131, 43) 100%);;
    margin: 20px 0px 30px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(9, 201, 51, 0.7)
    
}


video{
    width: 95%;
    height: 290px;
    margin: -8px 9px ;   
   
}
canvas{
    width: 95%;
    height: 290px;
    margin: 15px 9px ;  

}
img{
    width: 95%;
    height: 290px;
    margin: 0px 10px ;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.btn{
    margin-top: 39px;
    color: green;
    background-color: aqua;
}
.khung-thong-tin{
    width:78% ;
    height: 77%;
    background-image:linear-gradient(90deg, rgb(66, 224, 221) 0%, rgb(218, 228, 230) 100%);;
    margin: 20px 10px 0px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(5, 204, 223, 0.7)
}
.khung{
    display: flex;
    height: 100%;
    width: 100%;

    
}
.webcam{
    width:100% ;
    height: 100%;
    position: relative;
    /* display: flex; */
}
.frame-left{
    float: left;
    margin: 30px 60px;
}
.frame-right{
    float: left;
    margin-left: 80px;
    margin: 30px 20px 20px 100px;  
}
.camera{
    color: aquamarine;
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    display: block;
}
.function{
    height: 68px;
    width: 100%;
    background-color: #9dc328;
    margin: 572px 0 10px;
    position: relative;
    background-image:linear-gradient(90deg, rgb(112, 224, 68) 0%, rgb(33, 193, 163) 100%);;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(30, 230, 113, 0.7)
}
/*==Reset CSS==*/
* {
    margin: 0;
    padding: 0;
  }
  
  /*==Style cơ bản cho website==*/
  body {
    font-family: sans-serif;
    color: #333;
  }
  
  /*==Style cho menu===*/
  #menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
  }
  #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  #menu a:hover {
    background: #F1F1F1;
    color: #333;
  }
  @media screen and (max-width: 1724px){ 

 .khung{
    display: block;
    width: 100%;
    
 }
 .khung-anh{
    width: 98%;
    height: 340px;
    justify-content: center;
    
    
 }
 .khung-thong-tin{
    width: 98%;
    margin: -20px 10px;
    display:inline-block ;
    height: 1100px;
    
    
 }

     .frame-right{
        margin: 0px 54px; ;
     }
     video{
        margin-left: -195px;
       
        
        
     }
     canvas{
        width: 388px;
        margin-left: -176px;
    
     }
     .function{
       
        display:inline-block ;
        margin-top: 0px;
     }
    
.frame-left {
    width: 100%;
    float: left;
    margin: 64px 60px 0px 60px;
}
  .btn-click{
    left: 140px;
  }
  .insert{
    right: 140px;
  }
.background{
    width: 98%;
}
.input_car{
    padding-left: 10px;
  
}
 
    
}
#canvas {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

/* CSS */
.snap {
    position: absolute;
    left: 298px;
    background: linear-gradient(to bottom right, #d61337, #e96a1b);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0px 42px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 4px;
    
  }
  .snap{
    text-decoration:none;
    font-size: 20px;
    margin-top: 9px;
  }
  
  .snap:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .snap:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .insert {
    position: absolute;
    right:298px;
    background: linear-gradient(to bottom right, #cd0e64, #9f26eb);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0px 42px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 4px;

  }
  .insert{
    text-decoration:none;
    font-size: 20px;
    margin-top: 9px;
  
    
  }
  
 .insert:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .insert:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }